* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  font-weight: bold;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.grid {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.menu-container {
  color: #fff;
  background-color: black;
  padding: 1% 0;
  display: flex;
  justify-content: center;
}

.signup {
  margin-left: auto;
}

.subscribe {
  color: red;
}

.menu {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 2%;
}

.header-container {
  color: #5995DA;
  background-color: white;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.header {
  width: 90%;
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.photo-grid {
  width: 90%;
  margin: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;  /* Update this */
  align-items: center;
}

.photo-grid-item {
  border: 1px solid gray;
  width: 300px;
  height: 300px;
  background-color: white;
}

.photo-grid-svg {
  width: 300px;
  height: 300px;
  background-color: whitesmoke;
}

.photo-grid-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.footer-item {
  border: 1px solid gray;
  background-color: black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.footer-one,
.footer-three {
  background-color: red;
  flex: initial;
  width: 20%;
}